
html {
  box-sizing: border-box;

}
body,html{
  overflow-x: hidden;
  overflow-y:hidden;
}
#scratch{
  height:500px;
  width:500px;
  z-index:5;
  filter:  drop-shadow(8px 8px 10px gray);
  visibility:visible;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  border-radius:20px;
}
body{
  height:100vh;
  background-image: '';
  background-size:cover;
  background-position: cover;
  background-repeat: no-repeat;
}
#myCanvas{
  position:absolute;
  z-index:1;
 
  visibility: hidden;
  
}
canvas{
  border-radius: 20px;
}

#canvas{
  
background-image:'';
  background-size: cover;
background-position:center;
background-repeat: no-repeat;
margin-top:10px;
z-index:4;
margin-bottom:20px;
perspective: 1000px;
filter:  drop-shadow(8px 8px 10px gray);
/*transform:scaleX(1.5);*/
transition: transform 1s; 
border-radius:10px;
;
}
.App{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.app-container{
  position:relative;
  display:flex;
  justify-content: center;
  align-items:center;
  
  flex-direction: column;
}
#round{
position:absolute;
border-radius: 20px;
height:500px;
width:500px;
visibility:hidden;
}
@keyframes round{
  0%{
    opacity:0;
    transform:scale(-1);
    
   
  }
  100%{
    opacity:1;
    transform: scale(1);
    
  }
}
/*.image-container>img{

  height:300px;
  width:300px;
  margin-top:30px;
  border:solid 2px black;
  

}*/
h1{
  font-size:50px;
  margin-top:20px;
  margin-bottom:10px;
}

h2{
 
  top:50%;
  left:50%;
 color:'';
 font-size:50px;
 margin-top:20px;
}

h3{
  position:absolute;
  font-size:50px;
  z-index:5;
  
  visibility: hidden;
  
}
/*@media screen and (max-width:700px) {
  
  #scratch{
    height:100vh;
    position:absolute;
   width:50%;
  }
  #round{
    height:100px;
    width:100px;
  }
  h1{
    font-size:5px;
  }
}*/
@media screen and (max-width:700px) {
  body{
height:100vh;

  }
  #round, #scratch{
    position:absolute;
    top:90px;
   width:80%;
  }
  /*h3{
    position:absolute;
    top:200px;
    font-size:10px;

  }*/
  #scratch canvas{
    position:absolute;
    top:0%;
  }
  
  h1{
    position: absolute;
    top:20px;
    font-size:30px;
  }
  h3{
    position:absolute;
    top:40vh;
    text-align: center;
    width:100vw;
    font-size:40px;
  }
  #myCanvas{
   
    top:90px;
    
  }
}